nav {
/* background-color: #2cb5e8; */
border: 10px solid;
border-image-slice: 1;
border-width: 0px 0px 5px 0px;
border-color: #2096ff;
background-color: white;
}

.nav-link:hover {
    color: #05ffa3;
}



