
body {
  /* background-color: rgb(39, 39, 39);
  color: rgb(216, 215, 215); */
  background-image: linear-gradient(to bottom, white, #a8a8a8);
  background-repeat: no-repeat;
  /* padding-top: 200px;  */
  background-size: cover;
  min-height: 100%;
    /* font-family: 'Red Hat Text', sans-serif; */
  /* font-family: 'Spinnaker', sans-serif; */
  font-family: 'Telex', sans-serif;
}

html {
  min-height: 100%;
}

.homeComponent, .noMatchComponent, .profileComponent {
    padding-top: 200px; 
}

.chatComponent {
  padding-top: 210px; 
}

.myPlatforms, .myGames {
  display:inline-block;
  position:relative;
 }
.removePlatformBtn, .removeGameBtn {
  position: absolute;
  right:0;
  color:white;
  font-weight: bold;
  padding:0.2em ;
  margin-right: 2px;
  margin-top: 2px
 }

 .avatarOptions {
   display: inline-block
 }

 .ChoosePlatform {
float: left
 }

 .platformChoice {
  display: inline-block

 }

 .platformOptions {
  /* display: inline-block */
}
 
 .onboarding {
  background-color: white;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to top, #05ffa3, #2096ff);
  height: 100%;
}


