.profileSummary {

  background-color: white;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to top, #05ffa3, #2096ff);
  height: 100%;
}




